<h1>Listing closes</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @closes.each do |close| %>
      <tr>
        <td><%= close.date %></td>
        <td><%= link_to 'Show', close %></td>
        <td><%= link_to 'Edit', edit_close_path(close) %></td>
        <td><%= link_to 'Destroy', close, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Close', new_close_path %>
