<div class="main application">
  <article>
    <h1>Employee Application</h1>
    <%= form_tag "submit" do %>

      <section>
        <h2>Personal</h2>
        <div class="data">
          <%= label_tag "name", "Name" %>
          <%= text_field_tag "name", "", size: 30 %>
        </div>
        <div class="data">
          <%= label_tag "email", "Email" %>
          <%= text_field_tag "email", "", size: 30 %>
        </div>
        <div class="data">
          <%= label_tag "address", "Address" %>
          <%= text_area_tag "address", "", size:"30x3" %>
        </div>
        <div class="data">
          <%= label_tag "home", "Home Phone" %>
          <%= phone_field_tag "home", "", size: 15 %>
        </div>
        <div class="data">
          <%= label_tag "cell", "Cell Phone" %>
          <%= phone_field_tag "cell", "", size: 15 %>
        </div>
        <div class="data">
          <%= label_tag "age", "Age" %>
          <%= phone_field_tag "age", "", size: 3 %>
        </div>
      </section>

      <section>
        <h2>Availability</h2>
        <div class="data-row">
          <%= label_tag "months", "Are you available to work the following months (May, Jun, July, Aug, Sept)?" %>
          <%= select_tag "months", options_for_select([ "", "Yes", "No" ]) %>
        </div>
        <div class="data-long-label">
          <%= label_tag "months_exceptions", "Exceptions" %>
          <%= text_area_tag "months_exceptions", "", size:"60x7" %>
        </div>
        <div class="data-row">
          <h3>How many hours are you wanting to work?</h3>
          <%= label_tag "hours_daily", "Daily" %>
          <%= text_field_tag "hours_daily", "", size: 3 %>
          <%= label_tag "hours_weekly", "Weekly" %>
          <%= text_field_tag "hours_weekly", "", size: 3 %>
        </div>
        <div class="data-row">
          <%= label_tag "saturdays", "Are you willing to work Saturdays?" %>
          <%= select_tag "saturdays", options_for_select([ "", "Yes", "No" ]) %>
        </div>
        <div class="data-row">
          <%= label_tag "holidays", "Are you willing to work holidays?" %>
          <%= select_tag "holidays", options_for_select([ "", "Yes", "No" ]) %>
        </div>
        <div class="data-row">
          <%= label_tag "communicate", "How are you able to communicate?" %>
          <%= select_tag "communicate", options_for_select([ "", "Email", "Text", "Email and Text", "Neither" ]) %>
        </div>
        <div class="data-row">
          <%= label_tag "close", "Are you able to close by yourself at night?" %>
          <%= select_tag "close", options_for_select([ "", "Yes", "No" ]) %>
        </div>
        <div class="data-row">
          <%= label_tag "transportation", "Will you have transportation to deliver items after closing?" %>
          <%= select_tag "transportation", options_for_select([ "", "Yes", "No" ]) %>
        </div>
        <div class="data-row">
          <%= label_tag "only_job", "Will this be your only job?" %>
          <%= select_tag "only_job", options_for_select([ "", "Yes", "No" ]) %>
        </div>
        <div class="data-long-label">
          <%= label_tag "activities", "What summer activities will you be involved in? (sports, scouts, band, dance, vacations, etc.)" %>
          <%= text_area_tag "activities", "", size:"60x7" %>
        </div>
      </section>

      <section>
        <h2>Work Experience</h2>
        <div class="data-row">
          <%= label_tag "first_job", "Is this your first job?" %>
          <%= select_tag "first_job", options_for_select([ "", "Yes", "No" ]) %>
        </div>
        <div class="data-row">
          <h3 class="padding-bottom">If no, tell us about your most recent experience.</h3>
        </div>
        <div class="data-row">
          <%= label_tag "experience_employer", "Employer" %>
          <%= text_field_tag "employer", "", size: 20 %>
          <%= label_tag "experience_from", "From" %>
          <%= text_field_tag "experience_from", "", size: 10 %>
          <%= label_tag "experience_to", "To" %>
          <%= text_field_tag "experience_to", "", size: 10 %>
        </div>
        <div class="data-long-label padding-top">
          <%= label_tag "experience_description", "Title | job duties | reason for leaving" %>
          <%= text_area_tag "experience_description", "", size:"60x10" %>
        </div>
      </section>

      <section>
        <h2>One more thing....</h2>
        <div class="data-long-label">
          <h3>What makes you tick?  What are your likes, interests and hobbies?</h3>
          <%= label_tag "personal_profile", "Why would you be awesome at Kamas Snow?" %>
          <%= text_area_tag "personal_profile", "", size:"60x12" %>
        </div>
      </section>

      <%= submit_tag "Submit" %>
    <% end %>
  </article>
</div>
