<!DOCTYPE html>
<html>
<head>
  <title>Kamas Snow - Opening Checklist</title>
  <%= stylesheet_link_tag    "openclose", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="openclose">
<h1>CLOSE</h1>
<h3>Do not close if customers are waiting</h3>

<hr/>

<%= form_tag "submit_close" do %>

<h2>Outside Trailer</h2>
<ul>
  <div class="header">
    <span>Done</span>
    <span class="indent-radio-na">N/A</span>
  </div>
  <li>
    <%= check_box_tag "close_awnings" %>
    <span>Close awnings</span>
  </li>
  <li>
    <%= radio_button_tag "outside_trash", "done" %>
    <%= radio_button_tag "outside_trash", "na" %>
    Pick up garbage outside
  </li>
  <li>
    <%= radio_button_tag "tables", "done" %>
    <%= radio_button_tag "tables", "na" %>
    Clean tables and benches
  </li>
  <li>
    <%= radio_button_tag "close_umbrellas", "done" %>
    <%= radio_button_tag "close_umbrellas", "na" %>
    Close umbrellas
  </li>
  <li>
    <%= radio_button_tag "trailer_sides", "done" %>
    <%= radio_button_tag "trailer_sides", "na" %>
    Wipe down sides of trailer
  </li>
  <li>
    <%= radio_button_tag "gray_water", "done" %>
    <%= radio_button_tag "gray_water", "na" %>
    Empty gray water
  </li>
</ul>

<hr/>

<h2>Count money (make change if neccessary)</h2>
<ul class="count-money">
  <li>
    <%= number_field_tag "quarters", nil, min: 0, class: "count", "data-amount"=>".25" %>
    Quarters -- 20
  </li>
  <li>
    <%= number_field_tag "ones", nil, min: 0, class: "count", "data-amount"=>"1" %>
    Ones -- 25
  </li>
  <li>
    <%= number_field_tag "fives", nil, min: 0, class: "count", "data-amount"=>"5" %>
    Fives -- 14
  </li>
  <li>
    <%= number_field_tag "tens", nil, min: 0, class: "count", "data-amount"=>"10" %>
    Tens
  </li>
  <li>
    <%= number_field_tag "twenties", nil, min: 0, class: "count", "data-amount"=>"20" %>
    Twenties
  </li>
  <li class="strong">
    <%= text_field_tag "total", nil, class: "total", disabled: true %>
    Total -- $100.00
  </li>
</ul>

<hr/>

<h2>Inside Trailer</h2>
<ul>
  <div class="header">
    <span>Done</span>
    <span class="indent-radio-na">N/A</span>
  </div>
  <li>
    <%= check_box_tag "envelope" %>
    <span>Put excess money and punch cards in blue envelope</span>
  </li>
  <li>
    <%= check_box_tag "hide_cash_box" %>
    <span>Lock cash box and put behind garbage can</span>
  </li>
  <li>
    <%= radio_button_tag "fill_paper", "done" %>
    <%= radio_button_tag "fill_paper", "na" %>
    Fill napkins, straws, and spoons
  </li>
  <li>
    <%= radio_button_tag "fill_flavors", "done" %>
    <%= radio_button_tag "fill_flavors", "na" %>
    Fill flavors
  </li>
  <li>
    <%= radio_button_tag "fill_scm", "done" %>
    <%= radio_button_tag "fill_scm", "na" %>
    Fill SCM and Heavy Cream
  </li>
  <li>
    <%= radio_button_tag "sugar_water", "done" %>
    <%= radio_button_tag "sugar_water", "na" %>
    Make sugar water
  </li>
  <li>
    <%= check_box_tag "inventory" %>
    <span>Inventory</span>
  </li>
  <li>
    <%= radio_button_tag "counters", "done" %>
    <%= radio_button_tag "counters", "na" %>
    Wipe down counters and shelves
  </li>
  <li>
    <%= check_box_tag "wipe_shaver" %>
    <span>Remove ice from shaver and wipe it down</span>
  </li>
  <li>
    <%= radio_button_tag "street", "done" %>
    <%= radio_button_tag "street", "na" %>
    Dump excess snow bucket and brush street
  </li>
  <li>
    <%= check_box_tag "empty_sani" %>
    <span>Empty sanitized water</span>
  </li>
  <li>
    <%= check_box_tag "dirty_rags" %>
    <span>Put dirty rags in green basket</span>
  </li>
  <li>
    <%= check_box_tag "trash_cans" %>
    <span>Empty both trash cans</span>
  </li>
  <li>
    <%= check_box_tag "floor" %>
    <span>Mop floor</span>
  </li>
  <li>
    <%= check_box_tag "pump_off" %>
    <span>Turn off water pump</span>
  </li>
  <li>
    <%= check_box_tag "garbage_can_in" %>
    <span>Put garbage can inside</span>
  </li>
  <li>
    <%= check_box_tag "water_off" %>
    <span>Disconnect water and lock rear door</span>
  </li>
  <li>
    <%= check_box_tag "lock_freezer" %>
    <span>Lock ice freezer and shed</span>
  </li>
  <li>
    <%= check_box_tag "clock_out" %>
    <span>Clock out</span>
  </li>
  <li>
    <%= check_box_tag "hide_ipad" %>
    <span>Put ipad under counter (leave plugged in)</span>
  </li>
  <li>
    <%= check_box_tag "lock_trailer" %>
    <span>Lock trailer</span>
  </li>
  <li>
    <%= check_box_tag "throw_trash" %>
    <span>Throw trash away behind Food Town</span>
  </li>
  <li>
    <%= check_box_tag "deliver_money_keys" %>
    <span>Deliver blue envelope and keys to owners</span>
  </li>
</ul>

<%= submit_tag "Submit" %>

<% end %>
</div>
</body>
</html>