<!DOCTYPE html>
<html>
<head>
  <title>KamasSnow</title>
  <%= stylesheet_link_tag    "openclose", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="openclose">
<h1>INVENTORY</h1>

<hr/>

<%= form_tag "submit_inventory" do %>

<h2>Cups</h2>
<div class="count-cups table">
  <div class="header row">
    <div class="cell">&nbsp;</div>
    <div class="cell">Sleeves</div>
    <div class="cell">Loose Cups</div>
    <div class="cell">Total</div>
  </div>
  <div class="row">
    <div class="cell row-header">Snow Ball</div>
    <div class="cell"><%= number_field_tag "snowball-sleeves", nil, min: 0, class: "count", "data-amount"=>"20" %></div>
    <div class="cell"><%= number_field_tag "snowball-loose", nil, min: 0, class: "count", "data-amount"=>"1" %></div>
    <div class="cell"><%= text_field_tag "snowball-total", nil, class: "total", disabled: true %></div>
  </div>
  <div class="row">
    <div class="cell row-header">Mountain</div>
    <div class="cell"><%= number_field_tag "mountain-sleeves", nil, min: 0, class: "count", "data-amount"=>"20" %></div>
    <div class="cell"><%= number_field_tag "mountain-loose", nil, min: 0, class: "count", "data-amount"=>"1" %></div>
    <div class="cell"><%= text_field_tag "mountain-total", nil, class: "total", disabled: true %></div>
  </div>
  <div class="row">
    <div class="cell row-header">Glacier</div>
    <div class="cell"><%= number_field_tag "glacier-sleeves", nil, min: 0, class: "count", "data-amount"=>"20" %></div>
    <div class="cell"><%= number_field_tag "glacier-loose", nil, min: 0, class: "count", "data-amount"=>"1" %></div>
    <div class="cell"><%= text_field_tag "glacier-total", nil, class: "total", disabled: true %></div>
  </div>
  <div class="row">
    <div class="cell row-header">Avalanche</div>
    <div class="cell"><%= number_field_tag "avalanche-sleeves", nil, min: 0, class: "count", "data-amount"=>"20" %></div>
    <div class="cell"><%= number_field_tag "avalanche-loose", nil, min: 0, class: "count", "data-amount"=>"1" %></div>
    <div class="cell"><%= text_field_tag "avalanche-total", nil, class: "total", disabled: true %></div>
  </div>
</div>

<hr/>

<h2>Flavor Concentrates</h2>
<div class="table flavors-table">
  <div class="header row">
    <div class="cell row-header"><h3 class="flavor-color">Reds</h3></div>
    <div class="cell">Full</div>
    <div class="cell">3/4</div>
    <div class="cell">1/2</div>
    <div class="cell">1/4</div>
    <div class="cell">Empty</div>
  </div>
  <div class="row">
    <div class="cell row-header">Cherry</div>
    <div class="cell"><%= radio_button_tag "flavor-ch", "full" %></div>
    <div class="cell"><%= radio_button_tag "flavor-ch", "3-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-ch", "1-2" %></div>
    <div class="cell"><%= radio_button_tag "flavor-ch", "1-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-ch", "empty" %></div>
  </div>
  <div class="row">
    <div class="cell row-header">Cotton Candy</div>
    <div class="cell"><%= radio_button_tag "flavor-cc", "full" %></div>
    <div class="cell"><%= radio_button_tag "flavor-cc", "3-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-cc", "1-2" %></div>
    <div class="cell"><%= radio_button_tag "flavor-cc", "1-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-cc", "empty" %></div>
  </div>
  <div class="row">
    <div class="cell row-header">Tigers Blood</div>
    <div class="cell"><%= radio_button_tag "flavor-tb", "full" %></div>
    <div class="cell"><%= radio_button_tag "flavor-tb", "3-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-tb", "1-2" %></div>
    <div class="cell"><%= radio_button_tag "flavor-tb", "1-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-tb", "empty" %></div>
  </div>
</div>

<div class="table flavors-table">
  <div class="header row">
    <div class="cell row-header"><h3 class="flavor-color">Pinks</h3></div>
    <div class="cell">Full</div>
    <div class="cell">3/4</div>
    <div class="cell">1/2</div>
    <div class="cell">1/4</div>
    <div class="cell">Empty</div>
  </div>
  <div class="row">
    <div class="cell row-header">Bubble Gum</div>
    <div class="cell"><%= radio_button_tag "flavor-bg", "full" %></div>
    <div class="cell"><%= radio_button_tag "flavor-bg", "3-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-bg", "1-2" %></div>
    <div class="cell"><%= radio_button_tag "flavor-bg", "1-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-bg", "empty" %></div>
  </div>
  <div class="row">
    <div class="cell row-header">Pink Lemonade</div>
    <div class="cell"><%= radio_button_tag "flavor-pl", "full" %></div>
    <div class="cell"><%= radio_button_tag "flavor-pl", "3-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-pl", "1-2" %></div>
    <div class="cell"><%= radio_button_tag "flavor-pl", "1-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-pl", "empty" %></div>
  </div>
</div>

<div class="table flavors-table">
  <div class="header row">
    <div class="cell row-header"><h3 class="flavor-color">Yellows</h3></div>
    <div class="cell">Full</div>
    <div class="cell">3/4</div>
    <div class="cell">1/2</div>
    <div class="cell">1/4</div>
    <div class="cell">Empty</div>
  </div>
  <div class="row">
    <div class="cell row-header">Banana</div>
    <div class="cell"><%= radio_button_tag "flavor-ba", "full" %></div>
    <div class="cell"><%= radio_button_tag "flavor-ba", "3-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-ba", "1-2" %></div>
    <div class="cell"><%= radio_button_tag "flavor-ba", "1-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-ba", "empty" %></div>
  </div>
  <div class="row">
    <div class="cell row-header">Ice Cream</div>
    <div class="cell"><%= radio_button_tag "flavor-ic", "full" %></div>
    <div class="cell"><%= radio_button_tag "flavor-ic", "3-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-ic", "1-2" %></div>
    <div class="cell"><%= radio_button_tag "flavor-ic", "1-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-ic", "empty" %></div>
  </div>
</div>

<div class="table flavors-table">
  <div class="header row">
    <div class="cell row-header"><h3 class="flavor-color">Browns/Greens</h3></div>
    <div class="cell">Full</div>
    <div class="cell">3/4</div>
    <div class="cell">1/2</div>
    <div class="cell">1/4</div>
    <div class="cell">Empty</div>
  </div>
  <div class="row">
    <div class="cell row-header">Lime</div>
    <div class="cell"><%= radio_button_tag "flavor-li", "full" %></div>
    <div class="cell"><%= radio_button_tag "flavor-li", "3-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-li", "1-2" %></div>
    <div class="cell"><%= radio_button_tag "flavor-li", "1-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-li", "empty" %></div>
  </div>
  <div class="row">
    <div class="cell row-header">Green Apple</div>
    <div class="cell"><%= radio_button_tag "flavor-ga", "full" %></div>
    <div class="cell"><%= radio_button_tag "flavor-ga", "3-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-ga", "1-2" %></div>
    <div class="cell"><%= radio_button_tag "flavor-ga", "1-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-ga", "empty" %></div>
  </div>
  <div class="row">
    <div class="cell row-header">Rootbeer</div>
    <div class="cell"><%= radio_button_tag "flavor-rb", "full" %></div>
    <div class="cell"><%= radio_button_tag "flavor-rb", "3-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-rb", "1-2" %></div>
    <div class="cell"><%= radio_button_tag "flavor-rb", "1-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-rb", "empty" %></div>
  </div>
</div>

<div class="table flavors-table">
  <div class="header row">
    <div class="cell row-header"><h3 class="flavor-color">Blues</h3></div>
    <div class="cell">Full</div>
    <div class="cell">3/4</div>
    <div class="cell">1/2</div>
    <div class="cell">1/4</div>
    <div class="cell">Empty</div>
  </div>
  <div class="row">
    <div class="cell row-header">Blueberry</div>
    <div class="cell"><%= radio_button_tag "flavor-bl", "full" %></div>
    <div class="cell"><%= radio_button_tag "flavor-bl", "3-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-bl", "1-2" %></div>
    <div class="cell"><%= radio_button_tag "flavor-bl", "1-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-bl", "empty" %></div>
  </div>
  <div class="row">
    <div class="cell row-header">Blue Raspberry</div>
    <div class="cell"><%= radio_button_tag "flavor-br", "full" %></div>
    <div class="cell"><%= radio_button_tag "flavor-br", "3-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-br", "1-2" %></div>
    <div class="cell"><%= radio_button_tag "flavor-br", "1-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-br", "empty" %></div>
  </div>
  <div class="row">
    <div class="cell row-header">BYU</div>
    <div class="cell"><%= radio_button_tag "flavor-byu", "full" %></div>
    <div class="cell"><%= radio_button_tag "flavor-byu", "3-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-byu", "1-2" %></div>
    <div class="cell"><%= radio_button_tag "flavor-byu", "1-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-byu", "empty" %></div>
  </div>
</div>

<div class="table flavors-table">
  <div class="header row">
    <div class="cell row-header"><h3 class="flavor-color">Whites</h3></div>
    <div class="cell">Full</div>
    <div class="cell">3/4</div>
    <div class="cell">1/2</div>
    <div class="cell">1/4</div>
    <div class="cell">Empty</div>
  </div>
  <div class="row">
    <div class="cell row-header">Pina Colada</div>
    <div class="cell"><%= radio_button_tag "flavor-pc", "full" %></div>
    <div class="cell"><%= radio_button_tag "flavor-pc", "3-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-pc", "1-2" %></div>
    <div class="cell"><%= radio_button_tag "flavor-pc", "1-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-pc", "empty" %></div>
  </div>
  <div class="row">
    <div class="cell row-header">Silver Fox</div>
    <div class="cell"><%= radio_button_tag "flavor-sf", "full" %></div>
    <div class="cell"><%= radio_button_tag "flavor-sf", "3-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-sf", "1-2" %></div>
    <div class="cell"><%= radio_button_tag "flavor-sf", "1-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-sf", "empty" %></div>
  </div>
</div>

<div class="table flavors-table">
  <div class="header row">
    <div class="cell row-header"><h3 class="flavor-color">Other</h3></div>
    <div class="cell">Full</div>
    <div class="cell">3/4</div>
    <div class="cell">1/2</div>
    <div class="cell">1/4</div>
    <div class="cell">Empty</div>
  </div>
  <div class="row">
    <div class="cell row-header">Sodium Benzoate</div>
    <div class="cell"><%= radio_button_tag "flavor-sb", "full" %></div>
    <div class="cell"><%= radio_button_tag "flavor-sb", "3-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-sb", "1-2" %></div>
    <div class="cell"><%= radio_button_tag "flavor-sb", "1-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-sb", "empty" %></div>
  </div>
  <div class="row">
    <div class="cell row-header">Citric Acid</div>
    <div class="cell"><%= radio_button_tag "flavor-ca", "full" %></div>
    <div class="cell"><%= radio_button_tag "flavor-ca", "3-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-ca", "1-2" %></div>
    <div class="cell"><%= radio_button_tag "flavor-ca", "1-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-ca", "empty" %></div>
  </div>
  <div class="row">
    <div class="cell row-header">Sour Snow</div>
    <div class="cell"><%= radio_button_tag "flavor-ss", "full" %></div>
    <div class="cell"><%= radio_button_tag "flavor-ss", "3-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-ss", "1-2" %></div>
    <div class="cell"><%= radio_button_tag "flavor-ss", "1-4" %></div>
    <div class="cell"><%= radio_button_tag "flavor-ss", "empty" %></div>
  </div>
</div>

<br/>
<hr/>

<div class="table">
  <div class="header row">
    <div class="cell row-header">&nbsp;</div>
    <div class="cell">Unopened</div>
    <div class="cell">Opened</div>
  </div>
  <div class="row">
    <div class="cell row-header">Spoons</div>
    <div class="cell"><%= number_field_tag "unopened-spoons", nil, min: 0, class: "count", "data-amount"=>"20" %></div>
    <div class="cell"><%= select_tag "opened-spoons", options_for_select(["", "Full", "3/4", "1/2", "1/4", "Empty"]) %></div>
  </div>
  <div class="row">
    <div class="cell row-header">Straws</div>
    <div class="cell"><%= number_field_tag "unopened-straws", nil, min: 0, class: "count", "data-amount"=>"20" %></div>
    <div class="cell"><%= select_tag "opened-straws", options_for_select(["", "Full", "3/4", "1/2", "1/4", "Empty"]) %></div>
  </div>
  <div class="row">
    <div class="cell row-header">Napkins</div>
    <div class="cell"><%= number_field_tag "unopened-napkins", nil, min: 0, class: "count", "data-amount"=>"20" %></div>
    <div class="cell"><%= select_tag "opened-napkins", options_for_select(["", "Full", "3/4", "1/2", "1/4", "Empty"]) %></div>
  </div>
  <div class="row">
    <div class="cell row-header">Ice Cream</div>
    <div class="cell"><%= number_field_tag "unopened-icecream", nil, min: 0, class: "count", "data-amount"=>"20" %></div>
    <div class="cell"><%= select_tag "opened-icecream", options_for_select(["", "Full", "3/4", "1/2", "1/4", "Empty"]) %></div>
  </div>
  <div class="row">
    <div class="cell row-header">Heavy Cream</div>
    <div class="cell"><%= number_field_tag "unopened-hc", nil, min: 0, class: "count", "data-amount"=>"20" %></div>
    <div class="cell"><%= select_tag "opened-hc", options_for_select(["", "2 bottles", "1 1/2 bottles", "1 bottle", "1/2 bottle", "Empty"]) %></div>
  </div>
  <div class="row">
    <div class="cell row-header">SCM</div>
    <div class="cell"><%= number_field_tag "unopened-scm", nil, min: 0, class: "count", "data-amount"=>"20" %></div>
    <div class="cell"><%= select_tag "opened-scm", options_for_select(["", "2 bottles", "1 1/2 bottles", "1 bottle", "1/2 bottle", "Empty"]) %></div>
  </div>
  <div class="row">
    <div class="cell row-header">Evaporated Milk</div>
    <div class="cell"><%= number_field_tag "unopened-em", nil, min: 0, class: "count", "data-amount"=>"20" %></div>
  </div>
  <div class="row">
    <div class="cell row-header">Sugar</div>
    <div class="cell"><%= number_field_tag "unopened-sugar", nil, min: 0, class: "count", "data-amount"=>"20" %></div>
  </div>
  <div class="row">
    <div class="cell row-header">Pop Rocks</div>
    <div class="cell"><%= select_tag "unopened-poprocks", options_for_select(["", "More than 20", "Less than 20"]) %></div>
  </div>
</div>

<%= submit_tag "Submit" %>

<% end %>
</div>
</body>
</html>