<!DOCTYPE html>
<html>
<head>
  <title>Kamas Snow - Opening Checklist</title>
  <%= stylesheet_link_tag    "openclose", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="openclose">
<h1>OPEN</h1>

<hr/>

<%= form_tag "submit_open" do %>

<ul>
  <span class="header">Done</span>
  <li>
    <%= check_box_tag "clock_in" %>
    Clock in
  </li>
  <li>
    <%= check_box_tag "ice_out" %>
    Take out ice to temper
  </li>
  <li>
    <%= check_box_tag "connect_water" %>
    Connect water line
  </li>
</ul>

<hr/>

<h2>Count money (make change if neccessary)</h2>
<ul class="count-money">
  <li>
    <%= number_field_tag "quarters", nil, min: 0, class: "count", "data-amount"=>".25" %>
    Quarters -- 20
  </li>
  <li>
    <%= number_field_tag "ones", nil, min: 0, class: "count", "data-amount"=>"1" %>
    Ones -- 25
  </li>
  <li>
    <%= number_field_tag "fives", nil, min: 0, class: "count", "data-amount"=>"5" %>
    Fives -- 14
  </li>
  <li>
    <%= number_field_tag "tens", nil, min: 0, class: "count", "data-amount"=>"10" %>
    Tens
  </li>
  <li>
    <%= number_field_tag "twenties", nil, min: 0, class: "count", "data-amount"=>"20" %>
    Twenties
  </li>
  <li class="strong">
    <%= text_field_tag "total", nil, class: "total", disabled: true %>
    Total -- $100.00
  </li>
</ul>

<hr/>

<h2>Inside Trailer</h2>
<ul>
  <div class="header">
    <span>Done</span>
    <span class="indent-radio-na">N/A</span>
  </div>
  <li>
    <%= radio_button_tag "pump_on", "done" %>
    <%= radio_button_tag "pump_on", "na" %>
    Turn on water pump
  </li>
  <li>
    <%= check_box_tag "make_sani" %>
    <span>Make new sanitized water</span>
  </li>
  <li>
    <%= radio_button_tag "fill_paper", "done" %>
    <%= radio_button_tag "fill_paper", "na" %>
    Fill napkins, straws, and spoons
  </li>
  <li>
    <%= radio_button_tag "fill_flavors", "done" %>
    <%= radio_button_tag "fill_flavors", "na" %>
    Fill flavors
  </li>
  <li>
    <%= radio_button_tag "fill_scm", "done" %>
    <%= radio_button_tag "fill_scm", "na" %>
    Fill SCM and Heavy Cream
  </li>
  <li>
    <%= radio_button_tag "sugar_water", "done" %>
    <%= radio_button_tag "sugar_water", "na" %>
    Make sugar water
  </li>
  <li>
    <%= radio_button_tag "counters", "done" %>
    <%= radio_button_tag "counters", "na" %>
    Wipe down counters and shelves
  </li>
  <li>
    <%= check_box_tag "inventory" %>
    <span>Inventory</span>
  </li>
</ul>

<hr/>

<h2>Outside Trailer</h2>
<div class="header">
  <span>Done</span>
  <span class="indent-radio-na">N/A</span>
</div>
<ul>
  <li>
    <%= radio_button_tag "outside_trash", "done" %>
    <%= radio_button_tag "outside_trash", "na" %>
    Pick up garbage outside
  </li>
  <li>
    <%= check_box_tag "open_umbrellas" %>
    <span>Open umbrellas (unless too windy)</span>
  </li>
  <li>
    <%= radio_button_tag "tables", "done" %>
    <%= radio_button_tag "tables", "na" %>
    Clean tables and benches
  </li>
  <li>
    <%= radio_button_tag "trailer_sides", "done" %>
    <%= radio_button_tag "trailer_sides", "na" %>
    Wipe down sides of trailer
  </li>
  <li>
    <%= radio_button_tag "gray_water", "done" %>
    <%= radio_button_tag "gray_water", "na" %>
    Empty gray water
  </li>
  <li>
    <%= radio_button_tag "street", "done" %>
    <%= radio_button_tag "street", "na" %>
    Dump excess snow bucket and brush street
  </li>
  <li>
    <%= radio_button_tag "trash_cans", "done" %>
    <%= radio_button_tag "trash_cans", "na" %>
    Empty both trash cans
  </li>
  <li>
    <%= check_box_tag "open_awnings" %>
    <span>Open awnings</span>
  </li>
</ul>

<%= submit_tag "Submit" %>

<% end %>
</div>
</body>
</html>