<!DOCTYPE html>
<html>
<head>
  <title>KamasSnow</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>

  <script>
    (function() {
      // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
      if (!String.prototype.trim) {
        (function() {
          // Make sure we trim BOM and NBSP
          var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
          String.prototype.trim = function() {
            return this.replace(rtrim, '');
          };
        })();
      }

      [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
        // in case the input is already filled..
        if( inputEl.value.trim() !== '' ) {
          classie.add( inputEl.parentNode, 'input--filled' );
        }

        // events:
        inputEl.addEventListener( 'focus', onInputFocus );
        inputEl.addEventListener( 'blur', onInputBlur );
      } );

      function onInputFocus( ev ) {
        classie.add( ev.target.parentNode, 'input--filled' );
      }

      function onInputBlur( ev ) {
        if( ev.target.value.trim() === '' ) {
          classie.remove( ev.target.parentNode, 'input--filled' );
        }
      }
    })();
  </script>

</head>
<body>
  <header>
    <%= image_tag "logo.png", id:"logo", alt:"Kamas Snow", width:"200px",
      height:"117px" %>
    <div id="logo-text">SHAVED ICE</div>
    <nav>
      <ul class="right">
        <li>
          <a href="mailto:kamas.snow@gmail.com">
            <%= image_tag "email.png", title:"email", alt:"email" %>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/kamassnow" target="_blank">
            <%= image_tag "fb.png", title:"facebook", alt:"facebook" %>
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <%= yield %>

  <footer>
    <span class="left">&copy;2015 Kamas Snow</span>
  </footer>

</body>
</html>
