<!DOCTYPE html>
<html class="outside">
<head>
  <title>KamasSnow</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>

<body>
  <header>
    <%= link_to image_tag("logo.png", id:"logo", alt:"Kamas Snow", width:"200px", height:"117px"), root_path %>
    <div id="logo-text">SHAVED ICE</div>
    <nav>
      <ul class="right">
        <li>
          <a href="mailto:kamas.snow@gmail.com">
            <%= image_tag "email.png", title:"email", alt:"email" %>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/kamassnow" target="_blank">
            <%= image_tag "fb.png", title:"facebook", alt:"facebook" %>
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <%= yield %>

  <footer>
    <span class="left">&copy;2015 Kamas Snow</span>
  </footer>

</body>
</html>
