<!DOCTYPE html>
<html>
<head>
  <title>Kamas Snow - Checklists</title>
  <%= stylesheet_link_tag    "checklist", media: "all" %>
  <%= stylesheet_link_tag    "jquery.growl", media: "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>

<body>

<header>
  <ul>
    <li id="open"><%= link_to "Open", open_path %></li>
    <li id="close"><%= link_to "Close", close_path %></li>
    <li id="shift"><%= link_to "Help Shift", shift_path %></li>
    <li id="inventory"><%= link_to "Inventory", inventory_path %></li>
  </ul>

  <% flash.each do |key, value| %>
    <div class="flash-message"><%= value %></div>
  <% end %>

</header>

<%= yield %>

</body>
</html>